{% extends 'base.html' %}
{% block title %}Adding new awesome recipe {% endblock %}
{% block content%}
<div class="row row-cols-3">
    <div class="col-2"></div>
    <div class="col-8 fs-5" >
        <div class="main">
            <p>

            </p>
            <br>
            <p></p>
            <br>
            <p></p>
            <br>
            <p>
                Before we get to stichomancy, let’s look at the root word, stich (pronounced stick). It derives from the Greek word στίχος (sounds like steek-hohss), which means row, line, or verse. So, a stich is a unit of prose, such as a line in a poem or a verse in the Bible (the latter practice sometimes also called bibliomancy).
            </p>
            <p>
                Alone, stich is also a pretty interesting word (one I was unfamiliar with). But, paired with the -mancy suffix, which means divination, one can see where this practice got its name. Stichomancy, then, is the word for divination via passages, lines, or verses. (I suspect the practice is ancient, but the English word dates back to the late 1600s, as far as the OED knows.)
            </p>
            <p>
                And, while there’s nothing in the word itself to fully capture the particulars, the tradition seems to be to randomly select a book (often a book of poems), randomly flip it open to any page, and then randomly select lines or passage. Whatever you point to becomes the message that you’ll then, I suppose, need to analyze and extract a meaning from.
            </p>

        </div>
    </div>
    <div class="col-02"></div>
    

{% endblock %}